<div class="info">
  <h4><%= @user.name %></h4>
  <%= link_to "#" do %>
    <p class="info__name">@<%= @user.screen_name %></p>
  <% end %>
  <p class="info__comment">
    <%= @user.introduction %>
  </p>
  <p class="info__from">
    <span class="glyphicon glyphicon-record"></span> 東京
  </p>
  <p class="info__join">
    <span class="glyphicon glyphicon-calendar"></span> 2018年4月に登録
  </p>
  <%= link_to "#" do %>
    <p class="info_update">
      <span class="glyphicon glyphicon-picture"></span> 20個の画像と動画
    </p>
  <% end %>
  <div class="info__picture col-sm-4 col-md-4">
    <img src="http://card-professor.jp/wp/wp-content/uploads/2016/02/baseball-collaboration.jpg" class="info__picture__set">
  </div>
  <div class="info__picture col-sm-4 col-md-4">
    <img src="http://card-professor.jp/wp/wp-content/uploads/2016/02/baseball-collaboration.jpg" class="info__picture__set">
  </div>
  <div class="info__picture col-sm-4 col-md-4">
    <img src="http://card-professor.jp/wp/wp-content/uploads/2016/02/baseball-collaboration.jpg" class="info__picture__set">
  </div>
  <div class="info__picture col-sm-4 col-md-4">
    <img src="http://card-professor.jp/wp/wp-content/uploads/2016/02/baseball-collaboration.jpg" class="info__picture__set">
  </div>
  <div class="info__picture col-sm-4 col-md-4">
    <img src="http://card-professor.jp/wp/wp-content/uploads/2016/02/baseball-collaboration.jpg" class="info__picture__set">
  </div>
  <div class="info__picture col-sm-4 col-md-4">
    <img src="http://card-professor.jp/wp/wp-content/uploads/2016/02/baseball-collaboration.jpg" class="info__picture__set">
  </div>
</div>
