<!DOCTYPE html>
<html>
<head>
  <title>Twitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- <header class="header"> -->
<!-- </header> -->
  <header>
    <h1 class="grid-6"><a href="/">ホーム画面に戻る</a></h1>
    <div class="header__lists">
    </div>
  </header>
  <% yield %>
  <div class="profilecanopy-inner">
    <div class="profilecanopy-header">
    </div>
    <div class="profilecanopy-navbar">
    </div>
  </div>

  <h1><%= @users.name %></h1>
<% if current_user != @users　%>
   <% if current_user.following?(@users) %>
    <%= link_to "Unfollow", unfollow_user_path(@users) %>　
   <% else %>
    <%= link_to "Follow", follow_user_path(@users) %>
   <% end %>
<% end %>

<footer>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
</footer>
<%= yield %>

</body>
</html>
