<html>
  <body style="background-color:#EEEEEE;">
    <%= render partial: "shared/header" %>
    <%= render partial: "shared/mypage" %>
      <div class="content">
        <div class="content__left  col-sm-3 col-md-3 bg-light bg">
          <%= render partial: 'users/shared/userinfo' %>
        </div>
        <div class="content__center col-sm-6 col-md-6">
          <div class="content__center__link clearfix">
            <ul class="content__center__link__nav  nav navbar-nav">
              <li><a href="#">ツイート</a></li>
              <li><a href="#">ツイートと返信</a></li>
              <li><a href="#">メディア</a></li>
            </ul>
          </div>
          <div class="content__center__tweet">
            <% @tweets.each do |tweet| %>
              <%= render partial: "shared/tweet",locals: { tweet: tweet } %>
            <% end %>
          </div>
        </div>
        <div class="content__right col-sm-3 col-md-3">
          <div class="content__right__recommend">
            <h4>おすすめユーザー</h4>
              <% @recommends.each do |recommend| %>
                <%= render partial: "shared/recommend", locals: {recommend: recommend} %>
              <% end %>
          <%= render partial: "shared/trend" %>
        </div>
      </div>
  </body>
</html>
