<!DOCTYPE html>
<html>
<head>
  <title>Twitter</title>
  <%= stylesheet_link_tag "style"%>
  <link href="/stylesheets/mypage.css" media="screen" rel="stylesheet" type="text/css" />
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="header__lists">
      <li>
        <ul>
          <%= link_to "ホーム", root_path %>
        </ul>
        <ul>
          モーメント
        </ul>
        <ul>
          通知
        </ul>
        <ul>
          メッセージ
        </ul>
      </li>
    </div>
  </header>
  <% yield %>
  <div class="profilecanopy-inner">
    <div class="profilecanopy-header">
    </div>
    <div class="profilecanopy-navbar">
      <li>
        <a href="/users/edit">プロフィール編集</a>
      </li>
    </div>
  </div>

  <div class="contents">
    <span class="user-name">
    <span class="screenname">
      @#{current.user_name}
    </span>
  </div>

<footer>
</footer>
<%= yield %>

</body>
</html>


