<div class="user clearfix">
  <%= image_tag recommend.icon_image_url, class:"img-circle user__img" %>
  <div class="user__info">
    <%= link_to user_path(recommend.id) do %>
      <p><%= recommend.name %> @<%= recommend.screen_name %></p>
    <% end %>
      <% if current_user.following?(recommend) %>
        <%= link_to "フォロー中", unfollow_user_path(recommend), class: "mypage__info__follow" %>
      <% else %>
        <%= link_to "フォローする", follow_user_path(recommend), class: "mypage__info__unfollow"  %>
    <% end %>
  </div>
</div>
<hr>

