<div class="content clearfix">
  <% if user_signed_in? && current_user.id == tweet.user_id %>
    <div class="btn-group pull-right" role="group">
      <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    ∨
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="#"></a>
        <%= link_to 'ツイートを削除', tweet_path(tweet), method: :delete %>
      </div>
    </div>
  <% end %>
  <%= image_tag tweet.user.icon_image_url, class:"img-circle content__thumbnail" %>
  <div class="content__info">
    <div class="content__info__wapper">
      <%= link_to user_path(tweet.user.id) do %>
        <p class="content__info__wapper__name"><%= tweet.user.name %> @<%= tweet.user.screen_name %></p>
      <% end %>
      <p class="content__info__wapper__date"> <%= time_ago_in_words(tweet.created_at) %></p>
    </div>
    <div class="content__info__center">
      <%= simple_format(tweet.text) %>
      <%= render partial: "tweets/shared/image", collection: tweet.images %>
    </div>
    <div class="  content__info__bottom">
      <div class="glyphicon glyphicon-comment col-sm-3 col-md-3"></div>
      <div class="glyphicon glyphicon-retweet col-sm-3 col-md-3"></div>
      <div class="glyphicon glyphicon-heart col-sm-3 col-md-3"></div>
      <div class="glyphicon glyphicon-envelope col-sm-3 col-md-3"></div>
    </div>
  </div>
</div>
<hr>
