<div class="about">
  <%= link_to "© 2018 Twitter", "#", class:"about__link" %>
  <%= link_to "Twitterについて", "#", class:"about__link" %>
  <%= link_to "規約", "#", class:"about__link" %>
  <%= link_to "プライバシーポリシー", "#", class:"about__link" %>
  <%= link_to "クッキー", "#", class:"about__link" %>
  <%= link_to "広告について", "#", class:"about__link" %>
  <%= link_to "ブランド", "#", class:"about__link" %>
  <%= link_to "ブログ", "#", class:"about__link" %>
  <%= link_to "アプリ連携", "#", class:"about__link" %>
  <%= link_to "採用情報", "#", class:"about__link" %>
  <%= link_to "マーケティング", "#", class:"about__link" %>
  <%= link_to "広告", "#", class:"about__link" %>
  <%= link_to "掲載方法", "#", class:"about__link" %>
  <%= link_to "開発者", "#", class:"about__link" %>
</div>

