<div class="contents__right__recommend__user clearfix">
  <img src="http://trendnews.tokyo/wp/wp-content/uploads/2017/03/komatsutop_R.jpg" class="img-circle contents__right__recommend__user__img">
  <div class="contents__right__recommend__user__info">
    <%= link_to "#" do %>
      <p>小松菜奈 @k-nana</p>
    <% end %>
    <input type="submit" value= "フォローする" class="contents__right__recommend__user__info__btn">
  </div>
</div>
<hr>
<div class="contents__right__recommend__user clearfix">
  <img src="https://i1.wp.com/ailovei.com/wp-content/uploads/2015/09/%E3%81%8A%E3%82%82%E3%81%97%E3%82%8D%E7%8C%AB-48.jpg?fit=630%2C792&ssl=1" class="img-circle contents__right__recommend__user__img">
  <div class="contents__right__recommend__user__info">
    <%= link_to "#" do %>
      <p>猫太郎 @cat</p>
    <% end %>
    <input type="submit" value= "フォローする" class="contents__right__recommend__user__info__btn">
  </div>
</div>
<hr/>
<div class="contents__right__recommend__user clearfix">
  <img src="http://tyuumokuneta.net/wp-content/uploads/2016/04/5XJC2BDm.jpeg" class="img-circle contents__right__recommend__user__img">
  <div class="contents__right__recommend__user__info">
    <%= link_to "#" do %>
      <p>ドラゲナイト @night</p>
    <% end %>
    <input type="submit" value= "フォローする" class="contents__right__recommend__user__info__btn">
  </div>
</div>
<hr/>
<div class="contents__right__recommend__user clearfix">
  <img src="https://pbs.twimg.com/profile_images/1765776666/s-abetwitter1_400x400.png" class="img-circle contents__right__recommend__user__img">
  <div class="contents__right__recommend__user__info">
    <%= link_to "#" do %>
      <p>モリカケ @morikake</p>
    <% end %>
    <input type="submit" value= "フォローする" class="contents__right__recommend__user__info__btn">
  </div>
</div>
<hr/>
<div class="contents__right__recommend__user clearfix">
  <img src="https://static.wixstatic.com/media/c556e8_ba885fe9f0c8474fa72211cb5e07a9ed~mv2.jpg/v1/fill/w_338,h_441,al_c,lg_1,q_80/c556e8_ba885fe9f0c8474fa72211cb5e07a9ed~mv2.webp" class="img-circle contents__right__recommend__user__img">
  <div class="contents__right__recommend__user__info">
    <%= link_to "#" do %>
      <p>履いてますよ @safe</p>
    <% end %>
    <input type="submit" value= "フォローする" class="contents__right__recommend__user__info__btn">
  </div>
</div>
<hr/>



